<% if @cart.any? %>
<ul class="cart-items">
  <% @cart.each do |item| %>
    <% @product = Product.find(item.product_id) %>
    <li class="row"><%= link_to "X", cart_path(item.product_id), :data => {:confirm => "You sure?", :method => "delete"}, class: "red" %>
    <strong><%= @product.name %></strong>
      <div class="right">
        Unit Price: <%= number_to_currency @product.price %>
        <br>
        Quantity: <%= item.quantity %>
        <br>
        Total Price: <%= number_to_currency (@product.price * item.quantity) %>
      </div>

    </li>
  <% end %>
</ul>

  <p class="total"><strong>Your Total: <%= number_to_currency current_order.total_price %></strong></p>
  <%= link_to "checkout", new_charge_path %>
<% else %>
  <p>Your shopping cart is empty.</p>
<% end %>
