<% if @cart.any? %>
<ul class="cart-items">
  <% @cart.each do |item| %>
    <% @product = Product.find(item.product_id) %>
    <li class="row"><%= link_to "X", cart_path(item.product_id), :data => {:confirm => "You sure?", :method => "delete"}, remote: true, class: "red delete", id: "item_#{item.id}" %>
    <strong><%= @product.name %></strong>
      <div class="right">
        Unit Price: <%= number_to_currency @product.price %>
        <br>
        Quantity: <%= item.quantity %> <%= link_to "⇧",  {controller: "carts", action: "add_one", item: item}, method: "post", remote: true %><%= link_to "⇩", {controller: "carts", action: "remove_one", item: item}, method: "post", remote: true %>
        <br>
        Total Price: <%= number_to_currency (@product.price * item.quantity) %>
      </div>

    </li>
  <% end %>
</ul>

  <div class="total">
    <p class="total"><strong>Your Total: <%= number_to_currency current_order.total_price %></strong></p>
    <p>__________________</p>
    <%= link_to "checkout", new_charge_path%>
  </div>
<% else %>
  <p>Your shopping cart is empty.</p>
<% end %>
