<%= form_tag charges_path do %>
  <article>
    <% if flash[:alert].present? %>
      <div id="error_explanation">
        <p><%= flash[:alert] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: <%= number_to_currency current_order.total_price %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="<%= current_order.total_price * 100 %>"
          data-locale="auto"></script>
<% end %>
