<!DOCTYPE html>
<html>
  <head>
    <title>ECommerce</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="my-nav">
            <ul>
              <li><%= link_to "Home", root_path %></li>
              <% if session['order_id'] %>
                <li><%= link_to "Cart (#{@item_count}) ", cart_path(current_order) %> </li>
              <% end %>
              <li>Log In</li>
              <li>Sign Up</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-9">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
