<!DOCTYPE html>
<html>
  <head>
    <title>ECommerce</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="my-nav">
            <ul>
              <li><%= link_to "Home", root_path %></li>
              <% if session['order_id'] %>
                <li><%= link_to "Cart (#{@item_count}) ", cart_path(current_order) %> </li>
              <% end %>
              <% if current_user %>
                <% if current_user.admin %>
                  <li><%= link_to "Admin", rails_admin_path %></li>
                <% end %>
                <li><%= current_user.email %></li>
                <li><%= link_to "Log Out", destroy_user_session_path, :method => "delete" %></li>
              <% else %>
                <li><%= link_to "Log In", new_user_session_path %></li>
                <li><%= link_to "Sign Up", new_user_registration_path %></li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="col-sm-9">
          <p class="red"><%= flash[:alert] %></p>

          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
